config meshd 'main'
	option role 'controller'
	option http_addr '0.0.0.0:8080'
	option database_path '/etc/meshd/meshd.db'
	option udp_listen ':45678'
	option home_id 'default-home'
	option home_name 'Home'
	option controller_id 'gw01'
	option auto_adopt '0'
	option identity_dir '/etc/meshd/identity'
